<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card create-snippet">
  <div class="card-header">
  <% if current_page?('/profiles/new') %>
    Create User Profile
  <% else %>
    Update User Profile
  <% end %>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-12 col-lg-7">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Display Name</span>
            </div>
              <%= form.text_field :display_name, class: "form-control", placeholder: "e.g. Alex Doe" %>
              <div class="input-group-append">
                <span class="input-group-text"><%= fa_icon "question-circle" %></span>
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">GitHub Username</span>
            </div>
            <%= form.text_field :github_name, class: "form-control", placeholder: "e.g. alexdoe"  %>
            <div class="input-group-append">
                <span class="input-group-text"><%= fa_icon "question-circle" %></span>
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">StackOverflow Username</span>
            </div>
            <%= form.text_field :stackoverflow_name, class: "form-control", placeholder: "e.g adoe" %>
          <div class="input-group-append">
                <span class="input-group-text"><%= fa_icon "question-circle" %></span>
            </div>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">StackOverflow User ID</span>
            </div>
            <%= form.text_field :stackoverflow_userid, class: "form-control", placeholder: "e.g. 1234567"  %>
          <div class="input-group-append">
                <span class="input-group-text"><%= fa_icon "question-circle" %></span>
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Avatar Source</span>
            </div>
            <%= form.hidden_field :avatar_url, :value => nil %>
            <%= form.select(:avatar_url_source, ['GitHub', 'StackOverflow'], {}, { :class => 'form-control' }) %>
          <div class="input-group-append">
                <span class="input-group-text"><%= fa_icon "question-circle" %></span>
            </div>
          </div>
          <% if request.path_info.include?('edit') %>
            <%= form.text_field :user_id, type: "hidden", value: profile.user_id %>
          <% else %>
            <%= form.text_field :user_id, type: "hidden", value: current_user.id %>
          <% end %>
          <div class="actions">
            <%= form.submit :class => "btn btn-primary btn-sm" %>
            <%= submit_tag("Reset", { :name => 'reset', :id => 'reset', :type => 'reset', :class => 'btn btn-danger btn-sm'}) %>
          </div>

       </div>
    </div>    
        
  </div>
</div>  
<% end %>
