<div class="card" id="display-snippets">
  <div class="card-header">
    <a href="/snippets/new" class="btn btn-primary btn-sm" id="new-snippet"><%= fa_icon "plus-circle" %> Create Snippet</a>
  </div>
  <div class="card-body">
    <% if @snippets.length == 0 %>
      You don't have any snippets yet.
      <br />
      <%= link_to 'Create one now', new_snippet_path %>
    <% else %>
      <% @snippets.each do |snippet| %>

        <div class="snip-card">
          <h5 class="snip-header"><a href="/snippets/<%= snippet.id %>"><%= snippet.title %></a>
            <span class="pull-right">
              <% @snippets.user_id == current_user.id %>
                <%= link_to 'Edit', edit_snippet_path(snippet) %> | 
                <a href="#" class="copy-snippet" data-target="<%= snippet.id %>">Copy</a> |
                <%= link_to 'Delete', snippet, method: :delete, data: { confirm: 'Are you sure?' } %>  
              <% else %>
                <a href="#" class="copy-snippet" data-target="<%= snippet.id %>">Copy</a>
              <% endif %>     
            </span>
          </h5>
          <div class="snip-body"><pre class="cm-read-only"><%= snippet.code %></pre></div>
          <div class="snip-footer">
            Created at <%= snippet.created_at %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
