<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Display Name</th>
      <th scope="col">GitHub Name</th>
      <th scope="col">StackOverflow Name</th>
      <th scope="col" colspan="2">Edit Profile</th>
      
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <th scope="row"><a href="/profiles/<%= profile.user_id %>"><%= profile.email %></td>
        <td><%= profile.github_name %></td>
        <td><%= profile.stackoverflow_name %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Profile', new_profile_path, class: "btn btn-primary", style: "color: white" %>
