<div class="row">

  <div class="col-3">
  <p>
    <img src="profile_placeholder.png" alt="Profile Image" class="profile-image" />
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= @profile.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @profile.lastname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @profile.address %>
  </p>
  <br />
  <%= link_to 'Edit my profile', edit_profile_path(@profile) %>
  </div>


  <div class="col-9">
    
    <%= render 'snips' %>
  </div>


</div>