<div class="row">

  <div class="col-2">
  <p>
  <%= image_tag "profile_placeholder.png",
  :class => "profile-image",
  :alt => "Profile Image",
  :width => "150",
  :height => "150" %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= @profile.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @profile.lastname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @profile.address %>
  </p>
  <br />
  <%= link_to 'Edit my profile', edit_profile_path(@profile) %>
  </div>


  <div class="col-10">
    <%= render 'search' %>
    <%= render 'snips' %>
  </div>


</div>