<div class="row profile-row">

  <div class="col-2">
  <p>
  <% if @avatar.nil? %>
  <%= image_tag "profile_placeholder.png",
  :class => "profile-image",
  :alt => "Profile Image",
  :width => "150",
  :height => "150" %>
  <% else %>
  <img src="<%= @avatar %>" alt="profile_photo" class="profile-image" />
  <% end %>
  </p>

  <p>
    <strong>Display Name:</strong><br />
    <%= @profile.display_name %>
  </p>

  <p>
    <strong>GitHub:</strong><br />
    <a href="https://github.com/<%= @profile.github_name %>" target="_blank"><%= @profile.github_name %></a>
  </p>

  <p>
    <strong>StackOverflow:</strong><br />
    <a href="<%= @stackoverflow_link %>" target="_blank"><%= @profile.stackoverflow_name %></a>
  </p>
  <P>
    <% if current_user.id == @profile.user_id %>
      <%= link_to 'Edit my profile', edit_profile_path(@profile) %>
    <% end %>
  </p>
  </div>


  <div class="col-10">
    <%= render 'snips' %>
  </div>


</div>