<div class="row">
    <div class="col-12">

        <h5 class="snip-header">Comments</h5>

        <% @comments.each do |comment| %>
        <div class="card comment-card">
            <div class="card-header comment-header">
                
                <div class="row comment-header-row">
                    <div class="col-1 comment-header">
                        <% if comment.avatar_url_source.nil? and comment.avatar_url.to_s.empty?  %>
                            <%= image_tag "profile_placeholder.png",
                                style: "width:35px;" %>
                        <% elsif !comment.avatar_url.to_s.empty?  %>
                            <%= image_tag comment.avatar_url,
                                style: "width:35px;" %>
                        <% else %>
                            <% if comment.avatar_url_source == "GitHub" \
                                  and !@reputation[comment.user_id]['github']['avatar_url'].to_s.empty? %>
                                    <%= image_tag @reputation[comment.user_id]['github']['avatar_url'],
                                        style: "width:35px;" %>
                            <% elsif comment.avatar_url_source == "StackOverflow" \
                                     and !@reputation[comment.user_id]['stackoverflow']['profile_image'].to_s.empty? %>
                                    <%= image_tag @reputation[comment.user_id]['stackoverflow']['profile_image'],
                                        style: "width:35px;" %>
                            <% else %>
                                <%= image_tag "profile_placeholder.png",
                                    style: "width:35px;" %>
                            <% end %>
                        <% end %>

                    </div>
                    <div class="col-11 comment-header">
                        <a href="/profiles/<%= comment.user_id %>">
                        <% if comment.display_name.nil? %>
                        @<%= comment.email.split('@')[0] %>
                        <% else %>
                        <%= comment.display_name %>
                        <% end %>
                        </a><br />
                        at <%= comment.created_at.to_s[0..19] %>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row new-comment-row">
                    <div class="col-12">
                        <%= comment.comment_body %>
                    </div>
                </div>
                <div class="row new-comment-row update-comment-div">
                    <div class="col-12">
                        <%= render partial: "update_comments_form", locals: {comment: comment} %>
                    </div>
                </div>
            </div>
            <div class="card-footer snippet-comment-footer">
                <%= render partial: "reputation", locals: {reputation: @reputation[comment.user_id], comment: comment} %>
            </div>
        </div>
        <% end %>
            
        <hr>

        <% if !@current_profile.nil? %>

            <div class="card comment-card">
                <div class="card-body">
                    <div class="row new-comment-row">
                        <div class="col-1">
                        <% if @avatar.to_s.empty? %>
                            <%= image_tag "profile_placeholder.png",
                            style: "min-width:30px; width:100%;" %>
                        <% else %>
                            <%= image_tag @avatar,
                                style: "min-width:30px; width:100%; border: 1px solid darkgray;" %>
                        <% end %>
                        </div>
                        <div class="col-11">
                            <h6>Write New Comment</h6>
                            <%= form_for :comment, url: 'create_comment', method: :post do |f| %>
                            <!--<form action="/comments" method="post" enctype="multipart/form-data">-->
                                <%= csrf_meta_tags %>
                                <div class="form-group">
                                    <%= f.text_area :comment_body, class: "form-control"  %>
                                    <%= f.text_field :user_id, type: "hidden", value: current_user.id %>
                                    <%= f.text_field :snippet_id, type: "hidden", value: @snippet.id %>
                                </div>
                                <input type="submit" class="btn btn-primary btn-sm" value="Add Comment">
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            <h6><i>Add some profile info <a href="/">here</a> if you want to add your own comments</i></h6>
        <% end %>
    </div>
</div>