<div class="reputation-display">
    Reputation:  
    <span class="stackoverflow-color"><%= fa_icon "stack-overflow" %></span>
    <span data-toggle="tooltip" data-placement="bottom" title="Reputation">
        <strong><%= reputation['stackoverflow']['reputation'] %></strong>
    </span>
    <span data-toggle="tooltip" data-placement="bottom" title="Gold Badges">
        <span class="gold-badge">&#x25cf;</span> <%= reputation['stackoverflow']['badge_counts']['gold'] %>
    </span>
    <span data-toggle="tooltip" data-placement="bottom" title="Silver Badges">
        <span class="silver-badge">&#x25cf;</span> <%= reputation['stackoverflow']['badge_counts']['silver'] %>
    </span>
    <span data-toggle="tooltip" data-placement="bottom" title="Bronze Badges">
        <span class="bronze-badge">&#x25cf;</span> <%= reputation['stackoverflow']['badge_counts']['bronze'] %>
    </span>
    &nbsp;
    <span class="github-font-size"><%= fa_icon "github" %></span>
        <%= reputation['github']['public_repos'] %> 
    <span data-toggle="tooltip" data-placement="bottom" title="Public Repos"><%= fa_icon "copy" %></span>
        <%= reputation['github']['following'] %> 
    <span data-toggle="tooltip" data-placement="bottom" title="Following"><%= fa_icon "arrow-right" %></span>
        <%= reputation['github']['followers'] %> 
    <span data-toggle="tooltip" data-placement="bottom" title="Followers"><%= fa_icon "arrow-left" %></span>

    <span class="pull-right">
        <% if current_user.id == comment.user_id %>
            <a role="link" class="edit-comment" data-comment-id="<%= comment.id %>">Edit</a> | 
            <%= comment %>
            <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </span>

</div>
